section.section1
    .container 
        .section1__main
            .swiper-container.section1__mainSlice
                .swiper-wrapper
                    .swiper-slide
                        .section1__image
                            img(src="./img/banner.jpg", alt="")
                    .swiper-slide
                        .section1__image
                            img(src="./img/banner.jpg", alt="")
                    .swiper-slide
                        .section1__image
                            img(src="./img/banner.jpg", alt="")
                    .swiper-slide
                        .section1__image
                            img(src="./img/banner.jpg", alt="")
        .section1__pagination
section.section2 
    .section2__img 
    .container.section2__main
        .section2__title
            h2 Tote của BeeYou cam kết mang đến sự hài lòng tối đa cho bạn
        .section2__description
                p 
                    span Với cộng đồng nhà thiết kế, chúng tôi là ngôi nhà thời trang,nơi chắp cánh cho hàng vạn mẫu thiết kế của các Designer trên khắp Vietnam.
                    br
                    span Với khách hàng, BeeYou là nơi bạn dễ dàng tìm thấy những những sản phẩm thời trang thể hiện CHẤT của riêng mình. Là chính mình cùng BeeYou.
                    br
                    span Với đội ngũ lâu năm kinh nghiệm, có tâm với nghề, những dòng sản phẩm của BeeYou được tuyển chọn những nguyên vật liệu cao cấp nhất, gia công tinh xảo, công nghệ tối tân nhất hiện nay, được kiểm tra chất lượng đầu ra khắt khe.
section.section3
    .container 
        .row.section3__reverse
            .col-lg-5
                .section3__img
                    img(src="./img/bg2.svg", alt="")
            .col-lg-7
                .section3__title
                    h2 Siêu phẩm Tote mới ra lò
                .section3__description
                    p Mới "chế" ra cái Tote mới các bác ạ. Thông tin mô tả sơ bộ các bác đọc ở dưới nhé. em đi đóng hàng giao cho khách phát
                .section3__boxInformation
                    h3 Thông tin mô tả sơ bộ
                    ul 
                        li 
                            img(src="./img/icon1.svg", alt="")
                            p Chất vải canvas mềm mịn, không xù, không nhão
                        li 
                            img(src="./img/icon2.svg", alt="")
                            p Bee có 5 màu cho bạn lựa canh: Xanh dương, Hồng baby, Vàng chanh,...
                        li 
                            img(src="./img/icon3.svg", alt="")
                            p Size túi: 38*34*7cm
                        li 
                            img(src="./img/icon4.svg", alt="")
                            p Túi có khoá kéo, túi con tiện lợi cho nàng sử dụng
                    button Tìm thiểu thêm
section.section4
    .container 
        .section4__title
            h2 Tote giá nóng
        .section4__description
            p Đống này đang giảm giá nên rất "nóng”. Bạn còn chờ gì nữa mà "phỏng tay” ngay đi
        .section4__products--row
            .section4__products--col
                figure 
                    .section4__products--box
                        img(src="./img/product1.jpg", alt="")
                    figcaption
                        h3 Túi Totes Cactus Bag nữ tính xành điệu
                        h5 320.000 đ
                        .section4__color
                            span.section4__color--pink
                            span.section4__color--blue
                            span.section4__color--yellow
                            span.section4__color--white
                    .animation
                        button Mua ngay
            .section4__products--col
                figure 
                    .section4__products--box
                        img(src="./img/product1.jpg", alt="")
                    figcaption
                        h3 Túi Totes Cactus Bag nữ tính xành điệu
                        h5 320.000 đ
                        .section4__color
                            span.section4__color--pink
                            span.section4__color--blue
                            span.section4__color--yellow
                            span.section4__color--white
                    .animation
                        button Mua ngay
            .section4__products--col
                figure 
                    .section4__products--box
                        img(src="./img/product1.jpg", alt="")
                    figcaption
                        h3 Túi Totes Cactus Bag nữ tính xành điệu
                        h5 320.000 đ
                        .section4__color
                            span.section4__color--pink
                            span.section4__color--blue
                            span.section4__color--yellow
                            span.section4__color--white
                    .animation
                        button Mua ngay
            .section4__products--col
                figure 
                    .section4__products--box
                        img(src="./img/product1.jpg", alt="")
                    figcaption
                        h3 Túi Totes Cactus Bag nữ tính xành điệu
                        h5 320.000 đ
                        .section4__color
                            span.section4__color--pink
                            span.section4__color--blue
                            span.section4__color--yellow
                            span.section4__color--white
                    .animation
                        button Mua ngay
section.section4
    .container 
        .section4__title
            h2 Tote bán chạy
        .section4__description
            p Ra bao nhiêu hàng cũng bán không kịp với mấy cô mà, mà cứ như vậy là Bee thích à nha, hehe
        .section4__products--row
            .section4__products--col
                figure 
                    .section4__products--box
                        img(src="./img/product1.jpg", alt="")
                    figcaption
                        h3 Túi Totes Cactus Bag nữ tính xành điệu
                        h5 320.000 đ
                        .section4__color
                            span.section4__color--pink
                            span.section4__color--blue
                            span.section4__color--yellow
                            span.section4__color--white
                    .animation
                        button Mua ngay
            .section4__products--col
                figure 
                    .section4__products--box
                        img(src="./img/product1.jpg", alt="")
                    figcaption
                        h3 Túi Totes Cactus Bag nữ tính xành điệu
                        h5 320.000 đ
                        .section4__color
                            span.section4__color--pink
                            span.section4__color--blue
                            span.section4__color--yellow
                            span.section4__color--white
                    .animation
                        button Mua ngay
            .section4__products--col
                figure 
                    .section4__products--box
                        img(src="./img/product1.jpg", alt="")
                    figcaption
                        h3 Túi Totes Cactus Bag nữ tính xành điệu
                        h5 320.000 đ
                        .section4__color
                            span.section4__color--pink
                            span.section4__color--blue
                            span.section4__color--yellow
                            span.section4__color--white
                    .animation
                        button Mua ngay
            .section4__products--col
                figure 
                    .section4__products--box
                        img(src="./img/product1.jpg", alt="")
                    figcaption
                        h3 Túi Totes Cactus Bag nữ tính xành điệu
                        h5 320.000 đ
                        .section4__color
                            span.section4__color--pink
                            span.section4__color--blue
                            span.section4__color--yellow
                            span.section4__color--white
                    .animation
                        button Mua ngay
section.section4
    .container 
        .section4__title
            h2 Tote nổi bật
        .section4__description
            p Ra bao nhiêu hàng cũng bán không kịp với mấy cô mà, mà cứ như vậy là Bee thích à nha, hehe
        .section4__products--row
            .section4__products--col
                figure 
                    .section4__products--box
                        img(src="./img/product1.jpg", alt="")
                    figcaption
                        h3 Túi Totes Cactus Bag nữ tính xành điệu
                        h5 320.000 đ
                        .section4__color
                            span.section4__color--pink
                            span.section4__color--blue
                            span.section4__color--yellow
                            span.section4__color--white
                    .animation
                        button Mua ngay
            .section4__products--col
                figure 
                    .section4__products--box
                        img(src="./img/product1.jpg", alt="")
                    figcaption
                        h3 Túi Totes Cactus Bag nữ tính xành điệu
                        h5 320.000 đ
                        .section4__color
                            span.section4__color--pink
                            span.section4__color--blue
                            span.section4__color--yellow
                            span.section4__color--white
                    .animation
                        button Mua ngay
            .section4__products--col
                figure 
                    .section4__products--box
                        img(src="./img/product1.jpg", alt="")
                    figcaption
                        h3 Túi Totes Cactus Bag nữ tính xành điệu
                        h5 320.000 đ
                        .section4__color
                            span.section4__color--pink
                            span.section4__color--blue
                            span.section4__color--yellow
                            span.section4__color--white
                    .animation
                        button Mua ngay
            .section4__products--col
                figure 
                    .section4__products--box
                        img(src="./img/product1.jpg", alt="")
                    figcaption
                        h3 Túi Totes Cactus Bag nữ tính xành điệu
                        h5 320.000 đ
                        .section4__color
                            span.section4__color--pink
                            span.section4__color--blue
                            span.section4__color--yellow
                            span.section4__color--white
                    .animation
                        button Mua ngay
section.section5
    .section5__img 
        img(src="./img/banner1.jpg", alt="")
section.section6 
    .container 
        .section6__title
            h2 BeeYou trên Instagram
        .section6__description
            p Follow BeeYou trên instagram để có cơ hội tham gia các chương trình ưu đãi dành riêng cho người dùng Instagram
            a(href="#")
                img(src="./img/in2.svg", alt="")
                span instagr.am/beeyoufashion 
        .section6__main
            .swiper-container.section6__mainSlice
                .swiper-wrapper
                    .swiper-slide
                        .section6__image
                            img(src="./img/girl.jpg", alt="")
                    .swiper-slide
                        .section6__image
                            img(src="./img/girl.jpg", alt="")
                    .swiper-slide
                        .section6__image
                            img(src="./img/girl.jpg", alt="")
                    .swiper-slide
                        .section6__image
                            img(src="./img/girl.jpg", alt="")
