header.header
    .container
        .header__main
            .header__logo
                a(href="/")
                    img(src="./img/logo.svg", alt="")
            .header__left
                .header__menu
                    ul
                        li.active
                            a(href="#") Trang chủ
                        li
                            a(href="#") Tote collection
                        li
                            a(href="#") Về chúng tôi
                        li
                            a(href="#") Liên hệ
            .header__right 
                .header__cart
                    a(href="/")
                        img(src="./img/cart.svg", alt="")
                    span.ellipse 2
                .header__bar
                    img(src="./img/bar.svg", alt="")