footer.footer
    .container
        .footer__main 
            .footer__list 
                ul 
                    li 
                        a(href="#") Sản phẩm hot
                    li 
                        a(href="#") Sản phẩm bán chạy
                    li 
                        a(href="#") Hot deal tháng 12
                    li 
                        a(href="#") Anotner links
            .footer__info
                .footer__info--text
                    em © 2020 beebag.com.vn
                .footer__info--icon 
                    img(src="./img/fb.svg", alt="")
                    img(src="./img/in.svg", alt="")
                    img(src="./img/youtobe.svg", alt="")


